/***  SignIn and SignUp style  ***/

.page {
    display: none; 
	font-family: "Comic Sans MS";
}

body { 
	font-family: sans-serif; 
	line-height: 1.5; 
	min-height: 100vh; 
	background: #ebecdf; 
	margin: 0; 
} 

h1 { 
	color: #8ed59b; 
	margin:2%;
	font-size: 2rem;
} 

label { 
	display: block; 
	width: 100%; 
	margin-top: 10px; 
	margin-bottom: 5px; 
	text-align: left; 
	color: #8ed59b; 
	font-weight: bold; 
} 

input { 
	display: block; 
	width: 100%; 
	margin-bottom: 15px; 
	padding: 10px; 
	box-sizing: border-box; 
	border: 1px solid #ddd; 
	border-radius: 5px; 
} 

a {
	color: #304de0;
}
 
button { 
	padding: 15px; 
	border-radius: 10px; 
	margin-top: 15px; 
	margin-bottom: 15px; 
	border: none; 
	color: white; 
	cursor: pointer;
	background-color: #8ed59b; 
	font-size: 16px; 
	font-family: "Comic Sans MS";
	font-size: 1.5rem;
}  

#addTask{
	background-color: #8ed59b;  
	width: 5%; 
	text-align: center;
}

#logOut{
	background-color: #a33030; 
	width: 10%; 
	text-align: center;
	margin-left: 60%;
}

.wrap { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

.detailsProfile {
    display: flex; 
}

.detailsProfile label {
    margin-right: 10px; 
}

.active{
    display: block;
}

.container {
    display: flex;
    gap: 5%;
    margin-top: 4%;
}
.item-grid{
	margin-left: 3rem;
	color: dimgray;
}
.flex-item {
	font-size: xx-large;
	justify-content:flex-start;
    width: 9%;
}

.login {
	background-color: #fff; 
	border-radius: 15px; 
	box-shadow: 0 0 20px #8ed59b; 
	padding: 10px; 
	width: 30%; 
	text-align: center;
	margin: 3rem 5; 
}

.title{
	display: flex;
}

.flex-item{
	display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
    margin: 1rem;
}

#pencil{
	margin-right: 1rem;
	margin-top: 1rem;
    width: 4rem;
	height: 4rem;
	display: grid;
}

.name-task{
	display: grid;
	flex-grow: 1;
  padding: 0 10px;
}
.task input{
	margin-left: 0px;
}

.taskBox{
	display: none;
}

.close{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 20px;
	background: #a33030;
	color: #fff;
	cursor: pointer;
 }

 .popup{
	position: fixed;
	left: 50%;
	top:50%;
	transform: translate(-50% , -50%);
 }

 .task {
    box-shadow: 0 0 20px #8ed59b;
    margin: 1% 1%;
    display: flex;
    color: #4a4d4b;
    align-items: center;
    justify-content: space-between;
}

.actions {
    margin-right: 10px;
    font-size: 1.5rem;
}

#task-title {
    font-size: x-large;
    margin-right: 15px;
    white-space: nowrap;
}

#task-description {
    font-size: large;
    white-space: nowrap;
}

.task-checkbox {
    transform: scale(1.4);
}


  #logout{
	margin-left: 20px;
  }
  
  
  