/***  SignIn and SignUp style  ***/

.page {
    display: none; 
}

body { 
	font-family: sans-serif; 
	line-height: 1.5; 
	min-height: 100vh; 
	background: #f3f3f3; 
	margin: 0; 
} 

h1 { 
	color: #76a1c7; 
	margin:2%;
} 

label { 
	display: block; 
	width: 100%; 
	margin-top: 10px; 
	margin-bottom: 5px; 
	text-align: left; 
	color: #555; 
	font-weight: bold; 
} 

input { 
	display: block; 
	width: 100%; 
	margin-bottom: 15px; 
	padding: 10px; 
	box-sizing: border-box; 
	border: 1px solid #ddd; 
	border-radius: 5px; 
} 

a {
	color: #304de0;
}

.wrap { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

.detailsProfile {
    display: flex; 
}

.detailsProfile label {
    margin-right: 10px; 
}

.active{
    display: block;
}

.container {
    display: flex;
    gap: 30%;
    margin-top: 4%;
}

.container .flex-item {
    margin-left: 7%;
}

button { 
	padding: 15px; 
	border-radius: 10px; 
	margin-top: 15px; 
	margin-bottom: 15px; 
	border: none; 
	color: white; 
	cursor: pointer; 
	background-color: #8da0b2; 
	width: 100%; 
	font-size: 16px; 
} 

.login {
	background-color: #fff; 
	border-radius: 15px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
	padding: 10px 20px; 
	transition: transform 0.2s; 
	width: 30%; 
	text-align: center;
	margin-bottom: 3%;
}

.title{
	display: flex;
}

.title button{
	width:15%;
}

.task{
	border-radius: 0px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	margin: 1% 1%;
	display: flex;
	width:95%;
}

.task input{
	margin-left: 0px;
}

.taskBox{
	display: none;
}

.close{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 20px;
	background: #a33030;
	color: #fff;
	cursor: pointer;
 }

 .popup{
	position: fixed;
	left: 50%;
	top:50%;
	transform: translate(-50% , -50%);
 }
